* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

.sections,
.section {
    height: 100%;
    width: 100%;
    color: #FFFFFF;   
}

.sections {
    position: absolute;
}

.section{
	overflow: hidden;
	position: relative;
}
/*点*/
.pages {
	text-align: center;
    position: fixed;
    list-style: none;
}

.vertical.pages {
    right: 15px;
    top: 40%;
    width: 30px;
}

.horizontal.pages {
	height: 30px;    
    bottom: 15px;
}

.horizontal.pages li{
	float: none;
}

.pages li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 10px 5px;
    cursor: pointer;
    float: none;
}

.horizontal.pages li {
    display: inline-block;
    vertical-align: middle;
}

.pages li.active {
    width: 14px;
    height: 14px;
    border: 2px solid #fffe00;
    margin: 10px 0px 10px 5px;
    background: none;
    margin-left: 0;
}
/*点*/
/*按钮*/
.btnControl{
	/*opacity: .2;*/
}

.btnControl.vertical{
		
}
.btnControl.horizontal{
	
}

.btnControl > div > a{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	/*height: 100%;*/	
	border-radius: 3px;
	opacity: .35;
	background-color: #000;
	color: #FFFDEF;
	text-align: center;
	font-size: 45px;
	font-size: 6vh;
}

.btnControl > .btn-left,
.btnControl > .btn-right{
	position: absolute;
}

.btnControl.vertical > div{
	width: 35%;
	/*height: 75px;*/
	padding: 0px 15px;
	margin: 0px auto;	
	left: 32.5%;	
}

.btnControl.vertical .btn-left{
	top: 0px;
}

.btnControl.vertical .btn-right{
	bottom: 75px;
}


.btnControl.horizontal > div{
	width: 5%;
	/*height: 33%;*/
	padding: 0px;	
	top: 25%;
}

.btnControl.horizontal > div >a {
	padding: 100% 0px;
}
.btnControl.horizontal .btn-left{
	left: 0px;
}

.btnControl.horizontal .btn-right{
	right: 0px;
}